# Case Study 2 : Analyzing data from MovieLens

** Due Date: October 27, 2016 5:59PM**

*------------

## The MovieLens data sets

<img src="https://pbs.twimg.com/profile_images/378800000380161537/b6fa868dce43807d4e67462587d0b0d2_400x400.png">

http://grouplens.org/datasets/movielens/

In [ ]:
from IPython.lib.display import YouTubeVideo

In [ ]:
YouTubeVideo('dAjRNi6bhSE')

**TEAM Members:** Please EDIT this cell and add the names of all the team members in your team

    member 1
    
    member 2
    
    ...

**Desired outcome of the case study.**
* In this case study we will look at the MovieLens 1M Data Set.
    * It contains data about users and how the rate movies.
* The idea is to *analyze* the data set, make *conjectures*, support or refute those conjectures with *data*, and *tell a story* about the data!
    
**Required Readings:** 
* Chapter 2 (only the section on the MovieLens 1M Data Set), Chapter 5, Chapter 6,
and Chapter 8 of the book [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)  (available from the WPI library as an e-book).
* If you want your code to be really compact then you might want to also look into the pivot_table method of Panda's DataFrame, though there are many other ways to complete the case study!

**Case study assumptions:**
* You have access to a Python installation

**Required Python libraries:**
* Pandas (pandas.pydata.org)
* Matplotlib (matplotlib.org)
* If you need help installing them then you can refer to the Anaconda documentation of Chapter 1 of Python for Data Analysis book above 

** NOTE **
* Please don't forget to save the notebook frequently when working in IPython Notebook, otherwise the changes you made can be lost.

*----------------------

# Problem 1 (20 points total): 

## (10 points) Importing the MovieLens data set and merging it into a single Pandas DataFrame

* Download the 1 million ratings data set from http://grouplens.org/datasets/movielens/ (though if you are feeling adventerous you can download the 10 million ratings file instead)
* Merge all of the data into a single Pandas DataFrame
* Store the data into an HDF5 file.

## (10 points) Report some basic details of the data you collected.  For example:

*  How many movies have an average rating over 4.5 overall?
*  How many movies have an average rating over 4.5 among men?  How about women?
*  How many movies have an *median* rating over 4.5 among men over age 30?  How about women over age 30?
*  What are the ten most popular movies?
    * Choose what you consider to be a reasonable defintion of "popular".
    * Be perpared to defend this choice.
*  Make some conjectures about how easy various groups are to please? Support your answers with data!  
    *  For example, one might conjecture that people between the ages of 1 and 10 are the easiest to please since they are all young children.  This conjecture may or may not be true, but how would you support or disprove either conclusion with with data?
    *  Be sure to come up with your own conjectures and support them with data!

## Answers
* There are in total 21 movies have average rating higher than 4.5.
* There are in total 51 movies have women's average rating higher than 4.5.
* There are in total 23 movies have men's average rating higher than 4.5
* There are in total 149 movies have an median rating over 4.5 among women over age 30.
* There are in total 86 movies have an median rating over 4.5 among men over age 30.


* Definition of "popular"
    * More rating times
    * Highly rated
    * Gender neutral
    
    In these three critirial, we firstly chose the top 100 movies with the most people rating them, and then calculate a score that take 80% weights on average rating and 20% weights on gender ratio since the average rating is clearly more important to the definition of popular. 
    The equation should be: 
    $$
    score=(1-ratio)\times 20\%+average \,rating\times 80\%
    $$
    where 
    $$
    ratio=\frac{|number \,of\, male \, voters-number \, of \, female \, voters|}{all\, voters}
    $$

    The higher this score is, the more popular a movie is.
    

* We calculated group's average rating and standard deviation based on their gender, occupation and age to see how easy various groups are to please. 
    * Female tends to be easier to be pleased with more steady rating score.
    * People between under 18 are the easiest group to please, people from 18 to 24 is the hardest group, but it gets better when age grows. 
    * Homemakers and retired people are the easiest group to please, writers and unemployed people are hardest to pleased.

In [14]:
import pandas as pd
import numpy as np
#-------------------------------
# Your code goes here.
# Add as many cells as you need
#-------------------------------

storage = pd.HDFStore('data.h5' , encoding="latin1")

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('users.dat', sep='::', header=None,names=unames)
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ratings.dat', sep='::', header=None,names=rnames)
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('movies.dat', sep='::', header=None,names=mnames)
data = pd.merge(pd.merge(ratings, users), movies)

C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
# average rating over 4.5

ratings_by_title = data.groupby('title').size()

data_all = data.pivot_table('rating',index=["title"],aggfunc='mean')
mean_ratings = data_all.ix[ratings_by_title]
# high_ratings = ratings_by_title.index[mean_ratings>4.5]
high_ratings = ratings_by_title.index[data_all>4.5]

# print("There are in total %.4s movies have average rating higher than 4.5." % (len(high_ratings)))
# print()

sorted_table = data_all.order(ascending=False)
print(sorted_table[0:len(high_ratings)])

title
Gate of Heavenly Peace, The (1995)                                     5.000000
Lured (1947)                                                           5.000000
Ulysses (Ulisse) (1954)                                                5.000000
Smashing Time (1967)                                                   5.000000
Follow the Bitch (1998)                                                5.000000
Song of Freedom (1936)                                                 5.000000
Bittersweet Motel (2000)                                               5.000000
Baby, The (1973)                                                       5.000000
One Little Indian (1973)                                               5.000000
Schlafes Bruder (Brother of Sleep) (1995)                              5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                    4.800000
Lamerica (1994)                                                        4.750000
Apple, The (Sib) (1998)                                                4.666667
Sanjuro (1962)                                                         4.608696
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)    4.560510
Shawshank Redemption, The (1994)                                       4.554558
Godfather, The (1972)                                                  4.524966
Close Shave, A (1995)                                                  4.520548
Usual Suspects, The (1995)                                             4.517106
Schindler's List (1993)                                                4.510417
Wrong Trousers, The (1993)                                             4.507937
Name: rating, dtype: float64

C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:13: FutureWarning: order is deprecated, use sort_values(...)

In [4]:
# women average high rating
average_rating = data.pivot_table('rating',index=["title"],aggfunc='mean',columns='gender')
average_rating_women = average_rating.drop('M',1)
average_rating = np.array(average_rating)
# average_rating_women = np.array(average_rating_women)
high_rating_women = ratings_by_title.index[average_rating[:,0]>4.5]
# len(high_rating_women)
# print("There are in total %.4s movies have women's average rating higher than 4.5." % (len(high_rating_women)))
# print()
sorted_table_F_mean = average_rating_women.sort_values('F',ascending=False)
print(sorted_table_F_mean[0:len(high_rating_women)])

gender                                                     F
title
Clean Slate (Coup de Torchon) (1981)                5.000000
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.000000
Raw Deal (1948)                                     5.000000
Bittersweet Motel (2000)                            5.000000
Skipped Parts (2000)                                5.000000
Lamerica (1994)                                     5.000000
Gambler, The (A Játékos) (1997)                     5.000000
Brother, Can You Spare a Dime? (1975)               5.000000
Ayn Rand: A Sense of Life (1997)                    5.000000
24 7: Twenty Four Seven (1997)                      5.000000
Twice Upon a Yesterday (1998)                       5.000000
Woman of Paris, A (1923)                            5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 5.000000
Gate of Heavenly Peace, The (1995)                  5.000000
For the Moment (1994)                               5.000000
Country Life (1994)                                 5.000000
Prisoner of the Mountains (Kavkazsky Plennik) (...  5.000000
Other Side of Sunday, The (Søndagsengler) (1996)    5.000000
Saltmen of Tibet, The (1997)                        5.000000
Big Combo, The (1955)                               5.000000
One Little Indian (1973)                            5.000000
Message to Love: The Isle of Wight Festival (1996)  5.000000
Belly (1998)                                        5.000000
Song of Freedom (1936)                              5.000000
Coldblooded (1995)                                  5.000000
Battling Butler (1926)                              5.000000
Dancemaker (1998)                                   5.000000
World of Apu, The (Apur Sansar) (1959)              4.842105
Hearts and Minds (1996)                             4.833333
Apple, The (Sib) (1998)                             4.750000
Rain (1932)                                         4.750000
Panther (1995)                                      4.666667
Among Giants (1998)                                 4.666667
Marcello Mastroianni: I Remember Yes, I Remembe...  4.666667
Aparajito (1956)                                    4.666667
Close Shave, A (1995)                               4.644444
Before the Rain (Pred dozhdot) (1994)               4.600000
Firelight (1997)                                    4.600000
Flower of My Secret, The (La Flor de Mi Secreto...  4.600000
Wrong Trousers, The (1993)                          4.588235
General, The (1927)                                 4.575758
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650
Pather Panchali (1955)                              4.571429
Wallace & Gromit: The Best of Aardman Animation...  4.563107
Schindler's List (1993)                             4.562602
Grand Illusion (Grande illusion, La) (1937)         4.560976
Shawshank Redemption, The (1994)                    4.539075
Grand Day Out, A (1992)                             4.537879
To Kill a Mockingbird (1962)                        4.536667
Creature Comforts (1990)                            4.513889
Usual Suspects, The (1995)                          4.513317

In [5]:
average_rating = data.pivot_table('rating',index=["title"],aggfunc='mean',columns='gender')
average_rating_men = average_rating.drop('F',1)
average_rating = np.array(average_rating)
high_rating_men = ratings_by_title.index[average_rating[:,1]>4.5]
# len(high_rating_men)
# print("There are in total %.4s movies have men's average rating higher than 4.5." % (len(high_rating_men)))
# print()
sorted_table_M_mean = average_rating_men.sort_values('M',ascending=False)
print(sorted_table_M_mean[0:len(high_rating_men)])

gender                                                     M
title
Schlafes Bruder (Brother of Sleep) (1995)           5.000000
Small Wonders (1996)                                5.000000
Gate of Heavenly Peace, The (1995)                  5.000000
Baby, The (1973)                                    5.000000
Ulysses (Ulisse) (1954)                             5.000000
Dangerous Game (1993)                               5.000000
Angela (1995)                                       5.000000
Bells, The (1926)                                   5.000000
Smashing Time (1967)                                5.000000
Follow the Bitch (1998)                             5.000000
Lured (1947)                                        5.000000
Time of the Gypsies (Dom za vesanje) (1989)         4.833333
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 4.750000
Lamerica (1994)                                     4.666667
Window to Paris (1994)                              4.666667
Sanjuro (1962)                                      4.639344
Apple, The (Sib) (1998)                             4.600000
Godfather, The (1972)                               4.583333
For All Mankind (1989)                              4.583333
Seven Samurai (The Magnificent Seven) (Shichini...  4.576628
Shawshank Redemption, The (1994)                    4.560625
Raiders of the Lost Ark (1981)                      4.520597
Usual Suspects, The (1995)                          4.518248

In [6]:
data_over30 = data.query('age>=30')
median_rating = data_over30.pivot_table('rating',index = ['title'], columns='gender',aggfunc='median')
median_rating = np.array(median_rating)
high_median_rating_women = ratings_by_title.index[median_rating[:,0]>4.5]
high_median_rating_men = ratings_by_title.index[median_rating[:,1]>4.5]
# print("There are in total %.4s movies have women's median rating higher than 4.5." % (len(high_median_rating_women)))
# print("There are in total %.4s movies have men's median rating higher than 4.5." % (len(high_median_rating_men)))
# print(len(high_median_rating_women))
# print(len(high_median_rating_men))

C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\indexes\base.py:1275: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 3706 but corresponding boolean dimension is 3595
  result = getitem(key)

In [10]:
amount_rating = data.pivot_table('rating',index=["title"],aggfunc=('count','mean'),columns='gender')
amount_rating = np.array(amount_rating)
A = amount_rating[:,0]+amount_rating[:,1]
B = ((amount_rating[:,0]*amount_rating[:,2])+(amount_rating[:,1]*amount_rating[:,3]))/(amount_rating[:,0]+amount_rating[:,1])
amount_rating = data.pivot_table('rating',index=["title"],aggfunc=('count','mean'),columns='gender')
amount_rating['all count'] = A
amount_rating['Avg_rating'] = B

sorted_table_count = amount_rating.sort_values('all count',ascending=False)
pop_movies = sorted_table_count[0:100]
pop_movies = np.array(pop_movies)

ratio = abs(pop_movies[:,0]-pop_movies[:,1])/pop_movies[:,4]
pop_movies = sorted_table_count[0:100]
pop_movies['ratio'] = ratio

sorted_table_ratio = pop_movies.sort_values('ratio')
pd.set_option('display.max_rows', len(sorted_table_ratio))
sorted_table_ratio.to_excel("sorted_table_ratio.xlsx")
# sorted_table_ratio

C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
amount_rating = data.pivot_table('rating',index=["title"],aggfunc=('count','mean'),columns='gender')
amount_rating = np.array(amount_rating)
A = amount_rating[:,0]+amount_rating[:,1]
B = ((amount_rating[:,0]*amount_rating[:,2])+(amount_rating[:,1]*amount_rating[:,3]))/(amount_rating[:,0]+amount_rating[:,1])
amount_rating = data.pivot_table('rating',index=["title"],aggfunc=('count','mean'),columns='gender')
amount_rating['all count'] = A
amount_rating['Avg_rating'] = B

sorted_table_count = amount_rating.sort_values('all count',ascending=False)
pop_movies = sorted_table_count[0:300]
pop_movies = np.array(pop_movies)

ratio = abs(pop_movies[:,0]-pop_movies[:,1])/pop_movies[:,4]
pop_movies = sorted_table_count[0:300]
pop_movies['ratio'] = ratio

sorted_table_ratio = pop_movies.sort_values('ratio')
pd.set_option('display.max_rows', len(sorted_table_ratio))
sorted_table_ratio.to_excel("sorted_table_ratio_300.xlsx")

C:\Users\mniu\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
gender_rating = data.pivot_table('rating',index=["title"],aggfunc=('mean'),columns='gender')
gender_rating_std = data.pivot_table('rating',index=["title"],aggfunc=('std'),columns='gender')

gender_rating_F = np.mean(gender_rating['F'])
gender_rating_M = np.mean(gender_rating['M'])
gender_rating_std_F = np.mean(gender_rating_std['F'])
gender_rating_std_M = np.mean(gender_rating_std['M'])
# print("The average of women rating is %.4s, the standard diviation is %.6s." % (gender_rating_F,gender_rating_std_F))
# print("The average of men rating is %.4s, the standard diviation is %.6s." % (gender_rating_M,gender_rating_std_M))
# print()

age_rating = data.pivot_table('rating',index=["title"],aggfunc=('mean'),columns='age')
age_rating_std = data.pivot_table('rating',index=["title"],aggfunc=('std'),columns='age')
age_ratings = [0]*57
age_ratings_std = [0]*57
for i in [1,18,25,35,45,50,56]:
    age_ratings[i] = np.mean(age_rating.loc[:,i].dropna(axis=0))
    age_ratings_std[i] = np.mean(age_rating_std.loc[:,i].dropna(axis=0))
#     print("The average rating of age %.4s is %.4s,std is %.6s." % (i,age_ratings[i],age_ratings_std[i]))
# print()


occupation_rating = data.pivot_table('rating',index=["title"],aggfunc=('mean'),columns='occupation')
occupation_rating_std = data.pivot_table('rating',index=["title"],aggfunc=('std'),columns='occupation')
occupation_title = ["other or not specified","academic/educator","artist","clerical/admin","college/grad student",
                   "customer service","doctor/health care","executive/managerial","farmer","homemaker","K-12 student",
                   "lawyer","programmer","retired","sales/marketing","scientist","self-employed","technician/engineer",
                    "tradesman/craftsman","unemployed","writer"] 

occupation_ratings = [0]*21
occupation_ratings_std = [0]*21
for i in range(21):
    occupation_ratings[i] = np.mean(occupation_rating.loc[:,i].dropna(axis=0))
    occupation_ratings_std[i] = np.mean(occupation_rating_std.loc[:,i].dropna(axis=0))
#     print("The average rating of age %.4s is %.4s." % (i,age_ratings[i]))
occupation_ratings
OCC = pd.DataFrame({'Occupation': occupation_title, 'Avg_rating': occupation_ratings, 'STD': occupation_ratings_std})
sorted_OCC = OCC.sort_values('Avg_rating',ascending=False)
sorted_OCC.to_excel("sorted_occ.xlsx")

# Problem 2 (20 points total): Expand our investigation to histograms

**An obvious issue with any inferences drawn from Problem 1 is that we did not consider how many times a movie was rated.** 
* (2 points) Plot a histogram of the ratings of all movies.
* (2 points) Plot a histogram of the *number* of ratings each movie recieved.
* (2 points) Plot a histogram of the *average rating* for each movie.
* (6 points) Plot a histogram of the *average rating* for movies which are rated more than 100 times.
    * What do you observe about the tails of the histogram where you use all the movies versus the one where you only use movies rated more than 100 times?
    * Which highly rated movies would you trust are actually good?  Those rated more than 100 times or those rated less than 100 times?
* (8 points) Make some conjectures about the distribution of ratings? Support your answers with data!  
    *  For example, what age range do you think has more extreme ratings?  Do you think children are more or less likely to rate a movie 1 or 5?
    *  Be sure to come up with your own conjectures and support them with data!

In [ ]:
#-------------------------------
# Your code goes here.
# Add as many cells as you need
#-------------------------------
import matplotlib.pylab as plt
# import numpy as np

# 2-1 default is mean
data_all = data.pivot_table('rating',index=["title"])
plt.hist(data_all)
plt.show()

In [ ]:
# 2-2
data_CountRate = data.pivot_table('rating',index='title',aggfunc='count')

plt.hist(data_CountRate)
plt.show()
# data_CountRate

In [ ]:
indexs = list()
for i in range(len(data_CountRate)):
    if data_CountRate[i] >= 100:
        indexs.append(i)
indexs

In [ ]:
# 2-4
# data = np.array(data)
ratings_by_title = data.groupby('title').size()
# ratings_by_title[:10]
active_titles = ratings_by_title.index[ratings_by_title>=100]
# active_titles
mean_ratings = data_all.ix[active_titles]
plt.hist(mean_ratings)
plt.show()

In [ ]:
mean_ratings

In [ ]:
data_MeanRate = data.pivot_table('rating',index='title')
plt.hist(data_MeanRate)
plt.show()
# data_MeanRate

*------------------------

# Problem 3: (20 points total)
## Correlation:  Men versus women

Let look more closely at the relationship between the pieces of data we have.

* (2 points) Make a scatter plot of men versus women and their mean rating for every movie.
* (2 points) Make a scatter plot of men versus women and their mean rating for movies rated more than 200 times.
* (6 points) Compute the *correlation coefficent* between the ratings of men and women.
    * What do you observe?
    * Are the ratings similiar or not? Support your answer with data!
* (10 points) Conjecture under what circumstances the rating given by one gender can be used to predict the rating given by the other gender.
    * For example, are men and women more similar when they are younger or older?
    * Be sure to come up with your own conjectures and support them with data!

In [ ]:
#-------------------------------
# Your code goes here.
# Add as many cells as you need
#-------------------------------
# 3-1
mean_rating = data.pivot_table('rating',index = 'title', columns='gender',aggfunc = 'mean')
mean_rating
mean_rating_women = mean_rating.drop('M',1)
mean_rating_men = mean_rating.drop('F',1)
y = np.r_[0:len(mean_rating_women)]

fig = plt.figure()
ax1 = fig.add_subplot(111)

ax1.scatter(mean_rating_women, y,s=10, c='b', marker="s", label='women')
ax1.scatter(mean_rating_men, y, s=10, c='r', marker="o", label='men')
plt.legend(loc='upper left');
plt.show()

In [ ]:
np.r_[0:len(mean_rating_women)]

In [ ]:
len(mean_rating_title)

In [ ]:
# mean_rating = mean_rating.drop('M',1)
# mean_rating = mean_rating.drop('F',1)
mean_rating

*------------------------

# Problem 4: (20 points total)
## Open Ended Question:  Business Intelligence

* Do any of your conjectures in Problems 1, 2, and 3 provide insights that a movie company might be interested in?
* Propose a business question that you think this data can answer.
* Suppose you are a Data Sciencetist at a movie company.  **Convince your boss that your conjecture is correct!**

# Report: communicate the results (20 points)

(1) (5 points) What data you collected?

(2) (5 points) Why this topic is interesting or important to you? (Motivations)

(3) (5 points) How did you analyse the data?

(4) (5 points) What did you find in the data?
(please include figures or tables in the report, but no source code)

# Slides (for 10 minutes of presentation) (20 points)


1. (5 points) Motivation about the data collection, why the topic is interesting to you. 

2. (10 points) Communicating Results (figure/table)

3. (5 points) Story telling (How all the parts (data, analysis, result) fit together as a story?)

*-----------------
# Done

All set! 

** What do you need to submit?**

* **Notebook File**: Save this IPython notebook, and find the notebook file in your folder (for example, "filename.ipynb"). This is the file you need to submit. Please make sure all the plotted tables and figures are in the notebook. If you used "ipython notebook --pylab=inline" to open the notebook, all the figures and tables should have shown up in the notebook.


* **PPT Slides**: please prepare PPT slides (for 10 minutes' talk) to present about the case study . We will ask two teams which are randomly selected to present their case studies in class for this case study. 

* ** Report**: please prepare a report (less than 10 pages) to report what you found in the data.
    * What is the relationship between this topic and Business Intelligence?
    * How did you analyse the data?
    * What did you find in the data? 
    * What conjectures did you make and how did you support or disprove them using data?
    * Did you find anything suprising in the data?
    * What business decision do you think this data could help answer?  Why?

     (please include figures or tables in the report, **but no source code**)

*Please compress all the files into a single zipped file.*


** How to submit: **

        Send an email to rcpaffenroth@wpi.edu and wliu3@wpi.edu with the subject: "[DS501] Case study 2-TEAM NUMBER ???".